//= require "slideshow"
//= require_self

@import "compass";

@include global-reset;

#homePage {
  font-size: 30px;
  background-color: #000;
  color: #fff;
  width: 900px;
  height: 800px;
  margin: auto;
  padding: 30px;
  img {
    float:right;
    top: 0px;
    margin: 40px 40px
  }
}


h3 {
  background: #030303;
  font-weight: bold!important;
  margin: 0.5em 0 0!important;
  padding: 5px;
  border: solid #D0D0D;
  border-width: 1px 0;
}
.section {
  background:#FFFFFF;
  font-size: 90%;
  text-indent: 10px;
  border-bottom: 1px solid #DDD;
  padding:0.4em 0.4em 1em 0.4em;
}
.paragraph {
  text-indent: 5px;
  background:#FFFFFF;
  font-size: 90%;
  padding: 0 0.4em 0.1em 0.4em;
}

.section_head {
  display: block;
  font-weight: bold;
  color:#666;
  text-align:left;
  text-transform:capitalize;
  width: 100%;
  padding:1em 0.1em 0.1em 1em;
}

.photo {
  background-color: #000;
  text-align: center;
  color: #999;
  padding: 0.5em;
}

.carousel_paging {
  border-radius: 10px;
  
  background: #ccc;
  width: 10px;
  height: 10px;
  float: left;
}

.carousel_paging_selected {
  border-radius: 10px;
  
  background: #000;
  width: 10px;
  height: 10px;
  float: left;
}

.spacer {
  width: 10px;
  float: left;
}

.carousel_content {
  -webkit-transform: translate3d(0, 0, 0);
}

* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}

* {
-webkit-user-select: none;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}