
.presentation {
background: #FFADAD;
}

.slides {
color: #960B0B;
}

.slide {
width: 1000px;
height: 700px;
top: 50%;
background: #ffffff
}


.slide .counter {
color: #eee;
font-size: 50%;
}

/* Content */

.color1 {
  color: #000000  
}

.color2 {
  color: #750C0C  
}

.color3 {
  color: #FF0000  
}

.color4 {
  color: #D14141  
}

.huge {
  font-size: 100px;
}

.massive {
  font-size: 400px;
}
