<% content_for :head do %>
  <title><%= 'app' %></title>
<% end %>
<div id="pages">
  <div id="homePage">loading...</div>
  
  <div id="slideShow">
    <ul class="slides"></ul>
    <ul class="controls">
      <li class="slide-control toggle-play-pause icon">&nbsp;</li>
    </ul>
    <span class="toggler icon"></span>
  </div>

</div>