<% content_for :head do %>
  <title><%= @app['name'] %></title>
<% end %>
<div id="pages">
  <div id="homePage" class='page'>loading <%= @app['name'] %>...</div>
  
  <div id="slideShow" class='presentation page'>
    <div id="presentation-counter"></div>
    <div id="slides" class='slides'>
   
    </div>
    <div class="controls">
    </div>
  </div>

</div>