<% content_for :head do %>
  <title><%= 'app' %></title>
<% end %>
<div id="pages">
  <div id="homePage" class='page'>loading...</div>
  
  <div id="slideShow" class='page' style="width:768px;height:500px;overflow:hidden">
    <div id="slides" style="width:768px;height:400px;overflow:hidden">
   
    </div>
    <div class="controls">
    </div>
  </div>

</div>